.block {
  background-image: url("../../images/question-block.png");
  height: 350px;
  width: 350px;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px black;
  font-family: "Press Start 2P";
  font-size: 16px;
  border: 1px dotted black;
  margin: 30px;

  h1 {
    font-size: 24px;
    margin: 0;
  }

  &__flex {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__label {
    font-size: 14px;
    font-style: italic;
    color: lightgray;
  }

  &__info {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
  }

  .button {
    padding: 10px;
    border: none;
    color: white;
    font-family: "Press Start 2P";
    // border: 1px solid lightgray;
    font-size: 10px;
    height: fit-content;
  }

  .one-up-button {
    display: flex;
    background-color: white;
    align-items: center;
    color: black;
    .one-up {
      background-image: url("../../images/one-up.png");
      background-size: cover;
      height: 16px;
      width: 16px;
      margin-right: 5px;
    }
  }
  .complete-button {
    width: fit-content;
    background: red;
    align-self: flex-end;
  }

  //   .title {
  //   }

  .hours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.block.completed {
  background-image: url("../../images/hit-block.png");
}
